@import '../common.scss';




.label {

    .ant-btn.load-campaign {

        color:$warning-color;
    }

    &.unresolved {

        * {
            color:$text-color-lighter;
        }
    }

    &.status-only {

        &.campaign-started{

            background:$success-color;
            
            * {
                color:white
            }
        }

        &.campaign-ended {

            background:$text-color-tinted;

            * {
                color: $text-color
            }
        }

    }

    &.campaign-started{

        i {

            color :darken($success-color,5)
        }
    }

    &.campaign-ended {

        color: $text-color-lighter
    }

    &.campaign-suspended {
        background:lighten($warning-color, 3);
            
            * {
                color:white
            }
    }

    &.campaign-muted {
        background:darkslategray;
            
            * {
                color:white
            }
    }

    &.campaign-archived {
        background:black;
            
            * {
                color:white
            }
    }
}

.long-tooltip {

    max-width: 600px;
}

.campaign-icon {

    font-size:18;
    padding-top:4;
    
    &.closed {
        color: lighten($primary-color,25);
    }

    &.open {
        color: darken($success-color,5);
    }
}

.campaign-lineage{
    background-color: $primary-color;
    
    .label-link:hover {
        color: $text-color-lightest
    }

    .label-link {
        color: white;
    }

    .label i {
        color: white;
    }

    &.label {
        &.campaign-started{

            i {

                color :white;
            }
        }

        i {

            color :white;
        }
    }
}

.submission-filter-status {

    .ant-dropdown-menu {
        max-height: 300px;
    }
}