@import 'apprise-frontend/common.scss';

.event-table-title {

    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
    border-color: $text-color-frame;

    i {
        margin-right: 5px;
    }

}