@import "apprise-frontend/common.scss";

.submission-layout {
    height: 100%; // fills out parent (currently: page's main content).
    display: flex; // stacks children horizontally (toc and pages)
}

.accent-current {
    .submission-pages {
        background: #dfe5e9;
    }
}

.accent-superseded {
    .submission-pages {
        background: #eaeaeb;
    }
}

.accent-badge {
    line-height: 30px;

    * {
        font-size: 14px;
    }

    &.accent-superseded {
        background: darken(#b6c0c3,20);
        
        * {
            color: white;
        }
    }

    &.accent-current {
        background: #3fa6c5;

        * {
            color: white;
        }
    }

    &.accent-na {
        background: $warning-color;

        * {
            color: white;
        }
    }

    &.accent-missing {
        background: $error-color;

        * {
            color: white;
        }
    }

    margin-right: 15px;

    border: 1px solid lightgrey;
}

.submission-pages {
    flex-grow: 1;

    background: $text-color-selected;

    border-radius: 6px;
    padding: 20px 20px 50px;
    margin-bottom: 15px; // page and context offset from bottom.

    .page-form,
    .ant-form {
        padding: 0px;
    }
}

.compliance,
.compliance-rating {
    &.compliance-1 {
        color: $error-color;
    }

    &.compliance-2 {
        color: $warning-color;
    }

    &.compliance-3 {
        color: $primary-color;
    }

    &.compliance-4 {
        color: $success-color;
    }
}

.current-row {
    box-shadow: 4px 0px 0px 0px $primary-color inset;
}

.submission-label {
    &.state-only {
        &.draft {
            * {
                color: $success-color;
            }
        }

        &.pending {
            * {
                color: $warning-color;
            }
        }

        &.submitted {
            * {
                color: $primary-color;
            }
        }
    }

    .submission-title .published {

        color: $text-color-lighter
    }

    .submission-title .managed {

       color: $text-color-lighter
    }


}

.submission-label.label-tag {
    font-size: 18;
    padding-top: 4;

    &.compliance {
        &.compliance-1 {
            background: $error-color;

            * {
                color: white;
            }
        }

        &.compliance-2 {
            background: $warning-color;

            * {
                color: white;
            }
        }

        &.compliance-3 {
            background: $primary-color;

            * {
                color: white;
            }
        }

        &.compliance-4 {
            background: $success-color;

            * {
                color: white;
            }
        }
    }

    &.state-only {
        &.draft {
            background: $success-color;

            * {
                color: white;
            }
        }

        &.pending {
            background: $warning-color;

            * {
                color: white;
            }
        }

        &.submitted {
            background: $primary-color;

            * {
                color: white;
            }
        }

        &.published {
            background: darken($success-color, 5);

            * {
                color: white;
            }
        }

        &.missing {
            background: darken($error-color, 5);
            * {
                color: white
            }
        }

        &.nostatus {
            background: darken(lightgrey, 10);
            * {
                color: white
            }
        }
    }
}

.assessment-label {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    &.last-label {
        margin-bottom: 20px;
    }

    .label-name {
        font-size: 18px;
        font-weight: 200;
        color: $text-color-lighter;
    }

    .assessment-level {
        margin-top: -5px;
        font-size: 30px;
        font-weight: 200;
    }

    .timeliness-level {
        margin-top: -5px;
        font-size: 23px;
        font-weight: 200;
    }

    .assessment-comment {
        margin-bottom: 5px;
        font-size: 16px;
    }
}

.submission-subtitle {
    .subtitle-label {
        font-weight: 200;
        color: $text-color-lighter;
    }
}

.submission-dialog-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 50px 30px;

    font-weight: 300;

    .submission-dialog-icon {
        font-size: 150px;
        margin-bottom: 20px;
        color: darkcyan;
    }

    .submission-dialog-intro {
        font-size: 16px;
    }

    .submission-dialog-section {
        background: $text-color-selected;
        border-radius: 4px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .submission-dialog-section-title {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        &+.submission-dialog-section {
            margin-top: 30px;
        }

        .page-form {
            padding-top: 15px;
        }
    }

    .submission-dialog-explainer {
        padding-top: 5px;
        font-style: italic;
    }

    .reference-preview-title {
        font-size: 20px;
        font-weight: 300;
    }

    .reference-preview {
        font-size: large;
    }

    .submission-dialog-warning {

        padding-top: 30px;
        white-space: pre-wrap;
        color: $error-color;
    }
}

.share-tag {
    background: darken($success-color, 5);
    .label-title {
        color: white !important;
    }
    .label-icon {
        svg { color: white; }
    }
}

.share-tag:hover {
    cursor: pointer;
}


.accent-grey {

    * {
        filter: grayscale(1) !important;
        
    }

    opacity: 0.5;
    
}   

.submissiondate-edit {

    margin-right: 3px;



}

.timeliness-late { 
    color: red; 
    .label-icon {
        color: red;
    }
}
.timeliness-ontime {color: $primary-color}

.product {
    .input-default-value { 
        color: inherit !important;
    };
}