@import "apprise-frontend/common.scss";



.requirement-section-contents {

    margin-bottom: 5px;
    position: relative;
    
    &:hover {

        &:not(.section-missing-submission, .section-notapplicable-submission) {
            border-top: 1px dashed $primary-color;
            margin-top: -1px;
        }

        .section-requirement-placeholder {
            opacity: 1;
        }
    }
}

.section-requirement-placeholder {
    position: absolute;
    top: -20px; // avoids covering actinable content.
    right: 10px;
    z-index: 1000; // best attempt at remining visibile.

    text-align: right;

    i {
        border-radius: 50%;
        color: $primary-color;
        padding: 8px;
        background: #f9f9f9;
        font-size: 25px;
    }

    opacity: 0;
    transition: opacity 0.5s;
}

.section-missing-submission {
    border: 1px solid $warning-color;
    border-radius: 4px;
    padding: 10px;
    
    .section-requirement-placeholder {
        z-index: 0;
        opacity: 1;
        i {
            color: $warning-color;
        }
    }
}

.section-notapplicable-submission {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    
    .section-requirement-placeholder {
        z-index: 0;
        opacity: 1;
        i {
            color: lightgray;
        }
    }
}

.section-missing-target {
    border: 2px solid $error-color;
    border-radius: 4px;
    padding: 10px;

    //* { color: lightcoral};

    .section-requirement-placeholder i {
        color: $error-color;
    }
}




.card-contents .row-widget {
    top: 0 !important;
}

.requirement-section-contents .section-requirement-placeholder {
    top: -20px;
    right: -20px;
    border: solid 1px lightgray;
    border-radius: 50%;
}

.requirement-section-contents.section-notapplicable-submission .section-requirement-placeholder,
.requirement-section-contents.section-missing-submission .section-requirement-placeholder {
    top: -10px;
    right: -10px;
}

.section-requirement-placeholder {
    z-index: 1 !important;
}

.requirement-section-contents.section-notapplicable-submission,
.requirement-section-contents.section-missing-submission {
    width: calc(100% + 20px);
    transform: translateX(-10px);
}

.requirement-section-contents.section-notapplicable-submission > *:not(.section-requirement-placeholder) {
    opacity: 0.55;
}

.ayout-subscriber-plaveholder {
    height: 0px !important;
}